<!DOCTYPE html>
<html lang="en">
<head>
    <center> <h1 style="color: white;"> PHISHING WEBSITE DETECTION </h1> </center>
    <style>
        body{
            background-image: url('AnatomyOfPhishing.webp');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
  
<div class=" container">
    <div class="row">
        <div class="form col-md" id="form1">
            <center><h2 style="color: white; margin-top: 15%;">PHISHING URL DETECTION</h2></center>
      	
            <br>
            <form action="/" method ="post" style="margin-top: 2%; text-align: center;">
                <input type="text" class="form__input" name ='url' id="url" placeholder="Enter the URL" required="" /><br>
                <button class="button" role="button" >Check here</button><br>
            </form><br>
           
    </div><br>
</div>
<br>
</div>

</body>
</html>